/* Import general styles */
@import "user-general-styles.css";

#manage-inbounds-link {
    padding-right: 0.5em;
    border-left: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: #202020;
}

.manage-inbounds-data-header {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.manage-inbounds-data-header-inner-container {
    margin-right: 1em;
}

.all-inbounds-data-container {
    width: 100%;
    height: auto;
    overflow-x: auto;
    padding: 1em;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0.625em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1vw;
}

.all-inbounds-data-container table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

.all-inbounds-data-container th,
.all-inbounds-data-container td {
    text-align: left;
    padding: 8px;
}

.all-inbounds-data-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.all-inbounds-data-container th {
    background-color: #adadb6;
    color: white;
}

.edit-btn {
    background-color: #c63189;
    color: #fff;
    outline: none;
    border: none;
    padding: 1em 1.5em;
    border-radius: 0.625em;
    font-size: 0.8vw;
    font-weight: bold;
}

.edit-btn:hover,
.update-btn:hover,
.delete-btn:hover,
.add-btn:hover,
.submit-add-btn:hover,
#previous-btn:hover,
#next-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.manage-inbounds-modal,
.delete-confirmation-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.delete-confirmation-modal {
    padding-top: 170px;
}

.delete-confirmation-modal {
    z-index: 2;
}

.manage-inbounds-data-modal-content,
.delete-confirmation-modal-content {
    margin: auto;
    padding: 1.5em;
    background-color: #fff;
    width: 40%;
    height: 75%;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    min-width: 25em;
    min-height: 10em;
    border-radius: 0.625em;
}

.delete-confirmation-modal-content {
    width: 30%;
    height: 30%;
    overflow-y: hidden;
}

.delete-confirmation-modal-content h2 {
    margin-bottom: 1em;
}

.manage-inbounds-data-modal-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.manage-inbounds-data-modal-header h2 {
    font-size: 1.75vw;
}

#manage-inbounds-data-modal-close-btn {
    background-color: transparent;
    font-size: 1.5em;
    outline: none;
    border: none;
}

#manage-inbounds-data-modal-close-btn i:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

.manage-inbounds-data-modal-error-container {
    width: 100%;
}

.manage-inbounds-data-modal-error-container .error-message,
.manage-inbounds-data-modal-error-container .success-message {
    margin-bottom: 1em;
}

.manage-inbounds-data-modal-data,
.inbounds-data-form {
    width: 100%;
}

.form-event-data-update-delete-btns-container,
.form-event-data-add-btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 2em;
}

.update-btns-inner-container {
    margin-right: 0.5em;
}

.update-btn,
#delete-confirmation-modal-cancel-btn {
    background-color: #8b67d3;
    color: #fff;
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 0.625em;
    font-size: 1.05vw;
    font-weight: bold;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.delete-btn,
#delete-confirmation-modal-delete-btn {
    background-color: #f44336;
    color: #fff;
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 0.625em;
    font-size: 1.05vw;
    font-weight: bold;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#delete-confirmation-modal-delete-btn:hover,
#delete-confirmation-modal-cancel-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.add-btn {
    background-color: #733299;
    color: #fff;
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 0.625em;
    font-size: 1.05vw;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.submit-add-btn {
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 0.625em;
    font-size: 1.05vw;
    font-weight: bold;
    background-color: #47a330;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-id-error,
.form-reference-error,
.form-date-received-error,
.form-product-sku-error,
.form-quantity-error,
.form-location-error,
.form-remarks-error,
.form-supplier-id-error {
    display: inline-block;
    color: red;
    font-size: 0.85vw;
}

.form-id-container input,
.form-reference-container input,
.form-date-received-container input,
.form-product-sku-container select,
.form-quantity-container input,
.form-location-container input,
.form-remarks-container textarea,
.form-supplier-id-container select {
    display: block;
    border: none;
    border-radius: 0.625em;
    border: 2px solid grey;
    box-sizing: border-box;
    padding: 0.55em 0.85em;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1.05vw;
}

.form-remarks-container textarea {
    height: 7.5em;
    resize: vertical;
}

.form-id-container input:focus,
.form-reference-container input:focus,
.form-date-received-container input:focus,
.form-product-sku-container select:focus,
.form-quantity-container input:focus,
.form-location-container input:focus,
.form-remarks-container textarea:focus,
.form-supplier-id-container select:focus {
    border: none;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: var(--secondary-color);
}

.form-id-container,
.form-reference-container,
.form-date-received-container,
.form-product-sku-container,
.form-quantity-container,
.form-location-container,
.form-remarks-container,
.form-supplier-id-container {
    margin-bottom: 0.75em;
}

.form-id-container input,
.form-reference-container input,
.form-date-received-container input,
.form-product-sku-container select,
.form-quantity-container input,
.form-location-container input,
.form-remarks-container textarea,
.form-supplier-id-container select {
    margin-top: 0.25em;
}

.form-id-container span,
.form-reference-container span,
.form-date-received-container span,
.form-product-sku-container span,
.form-quantity-container span,
.form-location-container span,
.form-remarks-container span,
.form-supplier-id-container span {
    color: red;
}

.form-id-container input:disabled,
.form-reference-container input:disabled,
.form-date-received-container input:disabled,
.form-product-sku-container select:disabled,
.form-quantity-container input:disabled,
.form-location-container input:disabled,
.form-remarks-container textarea:disabled,
.form-supplier-id-container select:disabled {
    background-color: #e8e8e8;
}

.manage_user_data_modal_content {
    scroll-behavior: smooth;
}

#delete-confimation-modal-message {
    margin-bottom: 1em;
}

.delete-confirmation-modal h2 {
    font-size: 1.5em;
}

.delete-confimation-modal__btns-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#delete-confirmation-modal-cancel-btn {
    margin-right: 0.5em;
}

#form-event-start,
#form-event-end {
    font-family: var(--ff-body);
}

#inbound-table>thead>tr>th:not(:last-child):hover {
    cursor: pointer;
    background-color: #7a7a81;
}

#inbound-table>thead>tr>th>i {
    font-size: 0.85rem;
}

.manage-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
}

#previous-btn {
    margin-right: 1em;
}

.table-filter-input-container {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#table-filter-input {
    border: none;
    border-radius: 0.625em;
    border: 2px solid grey;
    box-sizing: border-box;
    padding: 0.55em 0.85em;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 1.05vw;
    margin-left: 1em;
}

#table-filter-input:focus {
    border: none;
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: var(--secondary-color);
}

#previous-btn {
    color: #fff;
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 0.625em;
    font-size: 1vw;
    font-weight: bold;
    background: #8b8b8b;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#next-btn {
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: 0.625em;
    font-size: 1vw;
    font-weight: bold;
    background-color: #1ad6d4;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.success-message {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
}

.error-message {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}